<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>



<!-- /link Login or Logout  -->

<div class="swiper-wrapper d-flex-wrap">
    <!-- CARD START -->
    <article class="card__article swiper-slide my-3">
        <div class="card__image">
            <img src="#" alt="image" class="card__img">
            <div class="card__shadow"></div>
        </div>
        <div class="card__data">
            <h3 class="card__name">Title</h3>
            <p class="card__description">
                Description
            </p>
            <a href="#" class="card__button">View More</a>
        </div>
    </article>
    <!-- CARD END -->
</div>
<!-- Paginator start-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="#">« first</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">last »</a>
        </li>
    </ul>
</nav>
<!-- Paginator end -->
